@using SoftwareRouteGuideAPP.Models.Exam;
@using Microsoft.AspNetCore.Http;

@model List<QuestionDto>;

<aside class="text-center bg-dark">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            @if (Model.Count() > 0)
            {


                <div class="pt-5">
                    <div class="h3 fs-1 text-light mb-4 lead">
                        "Sınavında başarılar, süre sınırlaman bulunmamaktadır. Tüm
                        soruları işaretleyip <span class="text-success">'Sınavı Tamamla'</span> butonuna basman
                        gerekmektedir.
                    </div>
                </div>
            }
            else
            {
                <div class="pt-5">
                    <div class="h3 fs-1 text-light mb-4 lead">
                        Bu eğitim için henüz bir soru oluşturulmamış, eğitmenlerimiz en yakın sürede bir sınav hazırlayacaktır, lütfen takipte kal!
                    </div>
                </div>
            }

        </div>
    </div>
</aside>

<div class="container mx-auto" style="padding-top: 20px; border-radius: solid 10px;">
    <div class="row justify-content-center align-items-center">
        <input id="userID" type="hidden" value=@Context.Session.GetInt32("userID")>
        @if (Model.Count() > 0)
        {
            @foreach (var question in Model)
            {
                var index = Model.IndexOf(question) + 1;
                <input id="educationID" type="hidden" value=@question.educationID>
                <span class="lead text-center mx-auto" style="font-size: 25px;"> Soru @index</span>
                <div class="align-items-center mb-4">
                    <div class="card" style="box-shadow: 8px 8px 8px 4px #2e412c" ;>
                        <div class="list-group mx-0">
                            <p class="lead pt-2  mx-3 text-center" style="color: #2e412c;">@question.question</p>

                            @foreach (var answer in question.answers)
                            {
                                <label class="list-group-item d-flex gap-2">
                                    <input id=@answer.answerID class="a-radio form-check-input flex-shrink-0" type="radio"
                                           name=@index>
                                    <small class="d-block text-dark">@answer.answer</small>
                                </label>
                            }

                        </div>
                    </div>
                </div>
            }
            <div id="messagebox" style="display: none;" class="alert alert-success" role="alert"></div>
            <button id="btn-finish" class="btn btn-success">Sınavı Tamamla</button>
            }
        

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn-finish").click(function () {
            let data = {};
            data.educationID = parseInt($('#educationID').val());
            data.userID = parseInt($('#userID').val());
            data.answers = [];
            Array.from(document.getElementsByClassName("a-radio")).forEach(
                function (element, index, array) {
                    if (element.checked)
                        data.answers.push(parseInt(element.id));
                }
            );

            $.post("/Exam/Calc", data).done(function (dataR) {
                const result = JSON.parse(dataR);
                $('#messagebox').text(result.message)
                $('#messagebox').css({ display: "block" });
            });
            $('.a-radio').prop('checked', false);
        });
    });
</script>