@{
    ViewData["Title"] = "Profil Ayarları";
}
@{
}
<div class="container" style="padding-top:70px;">
    <div class="modal-dialog">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0 ">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0 text-center">Şifremi Değiştir</h2>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Eski Şifre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Yeni Şifre</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-warning" type="submit">Şifremi Değiştir</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
<hr>
<div class="container ">
    <div class="modal-dialog">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0 ">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0 text-center">Profil Kararlarım</h2>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="">
                    <p class="text-muted">
                        <span class="text-dark">SRG</span> platform'undan ayrılmak istiyorum, tüm verilerim ve almış olduğum eğitimlerin silineceğini
                        kabul ve beyan ederim.
                    </p>

                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-danger" type="submit">Hesabımı Sil</button>
                    <small class="text-dar text-center">Seni özleyeceğiz :(</small>
                </form>
            </div>
        </div>
    </div>
</div>